.on-concluding-container-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 545px;
    background-image: linear-gradient(113deg, #3023ae, #c86dd7);
}

.on-concluding-container {
    width: 1280px;
    height: 545px;
    position: relative;

}

.on-concluding-titel {
    width: 620px;
    height: 106px;
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    margin-left: 97px;
    margin-top: 20px;
}

.on-concluding-list {
    margin-left: 96px;
}

.on-concluding-list-item {
    height: 30px;
    font-size: 20px;
    color: #fff;
}

.on-conc-li-cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.on-concluding-list-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

}

.on-concluding-list-sphere {
    /* верстать, когда будет макет на фулл хд*/
    position: absolute;
    right: 0;
    margin-top: 50px;
    margin-right: 100px;
}

.order-software-button {
    width: 256px;
    height: 57px;
    border-radius: 26px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 111px;
    margin-top: 44px;
    transition: all 0.2s ease;
    cursor: pointer;
    border: solid 3px #fff;
}

.order-software-button-text {
    /* width: 132px; */
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
}

.order-software-button:hover {
    transition: all 0.2s ease;
    background-color: #fff;
}

.order-software-button:hover .order-software-button-text {
    background: linear-gradient(114deg, #3023ae, #c86dd7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease;
}

.order-software-button:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}